<div class="mx-5" >
<div class="flex h-56 rounded-md ">
    <img class=" overflow-auto   object-cover rounded-t-md w-full " src="https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg" alt="bannerlogo">
    </div>
    
<div class="grid grid-cols-1 bg-slate-600  justify-items-center md:justify-items-start md:grid-cols-[300px_1fr] h-auto mb-10 pb-10 rounded-b-md  ">

<div class="relative -top-[115px] flex flex-col justify-around text-center text-xl font-bold text-white md:ml-10 ">
    <img class=" w-44 md:w-56 rounded-md hover:ring-4 ring-pink-500" src="../../../assets/images/f41eddce2e215047f22b6f91793597a3.jpg" alt="img">
    <span class="text-pink-500 hover:text-orange-500" >Nico</span>
    <span class="">Software Developer</span>
</div>

<div class="md:text-center mx-5 text-xl md:text-[1.7rem] font-bold text-justify text-white md:m-10 md:items-end ">

    <div class=" flex-col flex spa">
    <span>About me: 😁 </span>
    <span><br>Hello!

    I am a programmer with experience in back-end development. I have worked with different programming languages and frameworks, and have experience in developing and maintaining web applications. I am also familiar with database technologies and version control systems.
    
    I am a quick learner and have a good problem-solving skills. I am also a good team player and have good communication skills.
    
    I am looking for a challenging position in a company where I can use my skills and knowledge to contribute to the development of the company.</span>

</div>
</div> 
</div>
</div>