<nav class="flex flex-col md:flex-row justify-between items-center   bg-slate-900 ">
    
<h1 class="flex items-center">
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png" alt="logo-argentina-programa" width="200">
    <p class=" text-3xl font-bold text-white  md:visible hover:text-pink-600">#YoProgramo</p>
</h1>

<ul class="flex justify-around mx-5 text-lg font-bold text-white">
    <li class="mx-3 grow-0 hover:text-sky-400" >Twitter</li>
    <li class="mx-3 hover:text-pink-400">Github</li>
    <li class="mx-3 hover:text-amber-300">Steam</li>
    <li class="mx-3 bg-lime-400 px-5 text-black">Login</li>
</ul>

</nav>
<div class="flex ">
<img class=" mx-5 object-cover h-48 w-full" src="https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg" alt="bannerlogo">
</div>



