<nav class="header">
    
<h1 class="logo">
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png" alt="logo-argentina-programa" width="200">
    <p>monkeyd</p>
</h1>

<ul>
    <li>Twitter</li>
    <li>Github</li>
    <li>Steam</li>
    <li>Login</li>
</ul>

</nav>


<div class="banner">
<img src="https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="bannerlogo" width="800px" height="300px">
</div>



