<div class=" bg-slate-600 rounded-md mx-5 mb-10 flex flex-col justify-around">

    <div class="flex flex-col  bg-slate-300 m-5 rounded-md md:flex-row p-10 " *ngFor="let project of list">
    
        <img class="justify-self-start w-80 self-center md:self-starts rounded-md" src={{project.urlFoto}} alt="mario">
        
        <div class="flex-col  flex align-center items-center justify-center w-full mt-5 ">
            <h1 class="text-xl font-bold self-center mb-5 item git l">{{project.nombre}}</h1>
            <span class="text-center">{{project.descripcion}}}</span>
        </div>
        
        </div>

</div>