<div class="flex flex-col  bg-slate-300 m-5 rounded-md md:flex-row p-10 ">
    
<img class="justify-self-start w-80 self-center md:self-starts rounded-md" src="../../../assets/images/450_1000.jpg" alt="mario">

<div class="flex-col  flex align-center items-center justify-center w-full mt-5 ">
    <h1 class="text-xl font-bold self-center mb-5 item git l">hello abather</h1>
    <span class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam delectus illum doloremque quia! Porro, enim.</span>
</div>

</div>